.additional-card {
  padding: 12px 0 17px;

  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional-card__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.additional-card__description {
  margin-top: 14px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  font-family: @arial;
  font-size: 14px;
  line-height: 14px;
}

.additional-card__price {
  text-transform: uppercase;
}

.additional-card__btn {
  padding: 10px 26px;

  font-size: 16px;
}

@media (min-width: @tablet-width) {
  .additional-card {
    padding: 15px 36px 27px 37px;

    border: 1px solid #cdcdcd;

    &:not(:first-child) {
      margin-top: -1px;
    }
  }

  .additional-card__flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .additional-card__title {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-card__description {
    width: 226px;

    font-size: 16px;
    line-height: 20px;
  }

  .additional-card__volume {
    width: 132px;
    text-align: end;
  }

  .additional-card__btn {
    max-width: 100%;
    margin-top: 7px;
  }
}

@media (min-width: @desktop-width) {
  .additional-card {
    padding: 16px 0 6px;

    border-left: none;
    border-right: none;
  }

  .additional-card__title {
    width: 325px;
  }

  .additional-card__description {
    width: 310px;
  }

  .additional-card__volume {
    width: 260px;

    text-align: start;
  }

  .additional-card__price {
    width: 70px;

    text-align: start;
  }

  .additional-card__btn {
    width: 193px;
    height: 20px;
    margin-top: -1px;
  }
}
