.additional {
  margin-top: 42px;

  border-top: 3px solid @green-color;
}

.additional__title {
  margin: -51px 30px 0 -26px;
  padding: 34px 25px;

  font-size: 24px;
  line-height: 24px;

  background-color: #ffffff;
}

.additional__list {
  .no-style();
}

.additional__promo {
  margin: 39px 0 35px;
  width: 280px;
  min-height: 289px;

  background-color: @green-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.additional__promo-text {
  position: relative;

  display: block;
  width: 161px;
  margin: 0 auto;
  padding-top: 187px;

  font-family: @arial;
  font-weight: 400;
  color: #ffffff;
  text-align: center;

  &::before {
    content: "";

    position: absolute;
    top: 65px;
    left: 53px;

    width: 55px;
    height: 60px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .additional {
    margin-top: 89px;
  }

  .additional__title {
    margin: -59px 297px 46px -1px;
    padding: 34px 37px;

    font-size: 36px;
    line-height: 36px;
  }

  .additional__promo {
    width: 708px;
    min-height: 200px;
    margin: 69px 0 76px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-position: 0 0;
    background-size: 708px 200px;
  }

  .additional__promo-text {
    padding-top: 72px;
    padding-left: 299px;

    text-align: start;

    &::before {
      left: -33px;
    }
  }
}

@media (min-width: @desktop-width) {
  .additional {
    margin: 98px 0 132px;

    border-top: 3px solid @green-color;
  }

  .additional__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional__item {
    display: flex;
    justify-content: space-between;
  }

  .additional__promo {
    min-height: 289px;
    width: 245px;
    margin: 0;

    background-image: url("../img/gift-photo-mobile@1x.jpg");
    background-position: 50% 0;
  }
}
