.additional__title {
  padding: 31px 0;

  font-size: 24px;
  line-height: 24px;
}

.additional__list {
  .no-style();
}

.additional__item {
  padding: 14px 0 17px;
}

.additional__promo {
  margin: 40px 0 35px;

  background-color: @green-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.additional__promo-text {
  display: block;

  font-family: @arial;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .additional__promo {
    min-height: 200px;
    margin: 69px 0 76px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-position: 0 0;
    background-size: 708px 200px;
  }
}

@media (min-width: @desktop-width) {
  .additional {
    margin: 91px 0 86px;

    border-top: 3px solid @green-color;
  }

  .additional__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional__item {
    display: flex;
    justify-content: space-between;
  }

  .additional__promo {
    min-height: 289px;
    width: 245px;
    margin: 0;

    background-image: url("../img/gift-photo-mobile@1x.jpg");
    background-position: 50% 0;
  }
}
