.additional-card__title {
  font-family: Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.additional-card__description {
  line-height: 14px;
}

.additional-card__price {
  text-transform: uppercase;
}
