.btn {
  display: block;
  max-width: 280px;
  padding: 17px 26px 15px;

  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: @green-color;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.btn--grey {
  padding: 10px 26px;

  font-size: 16px;
  color: #444444;

  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
