.example {
  padding-bottom: 35px;

  background-color: #f2f2f2;
}

.example__description {
  margin: 0;
  padding: 0;
  padding-right: 14px;

  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
}

.example__list dt {
  font-family: @arial;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.example__list dd {
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  text-transform: uppercase;
}

.example__cost {
  font-size: 14px;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: #ffffff;
  }

  .example__data-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__list {
    width: 367px;
    display: flex;
  }

  .example__cost {
    width: 192px;
  }

  .example__slider {
    min-height: 460px;

    background-color: #f2f2f2;
  }
}

@media (min-width: @desktop-width) {
  .example__wrapper {
    display: flex;

    background-color: #f2f2f2;
  }

  .example__half-width {
    width: 50%;
  }

  .example__data-wrapper {
    flex-direction: column;
  }
}
