.example {
  background-color: #f2f2f2;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
}

.example__title {
  padding-top: 16px;
  padding-bottom: 23px;
}

.example__description {
  margin: 0;
  padding: 0;
  padding-right: 14px;

  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
}

.example__list {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 25px;
}

.example__list dt {
  position: absolute;
  top: 47px;
  left: 16px;

  width: 60px;
  padding: 0 15px;

  font-family: @arial;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;

  background-color: #f2f2f2;

  &:nth-child(3) {
    top: 47px;
    left: 173px;
  }
}

.example__list dd {
  min-width: 122px;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 17px;

  font-size: 24px;
  line-height: 24px;
  color: #111111;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example__cost {
  display: block;
  margin-top: 34px;

  font-size: 14px;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
}

.example__slider {
  margin-top: 34px;
  margin-left: -3px;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: #ffffff;
  }

  .example__wrapper {
    width: auto;
  }

  .example__title {
    padding-top: 43px;
    padding-bottom: 65px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
  }

  .example__data-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__list {
    width: 367px;
    display: flex;
    margin-top: 52px;

    & dd {
      min-width: 160px;
      padding-top: 14px;
      padding-bottom: 19px;

      font-size: 30px;
      line-height: 37.02px;
    }

    & dt {
      top: 63px;
      left: 25px;

      width: 97px;
      padding: 0 8px;

      font-size: 14px;
      line-height: 14px;

      background-color: #ffffff;
    }

    & dt:nth-child(3) {
      top: 63px;
      left: 213px;

      width: 127px;
    }
  }

  .example__cost {
    width: 192px;
    margin-top: 63px;

    font-size: 20px;
    text-align: end;

    &--for-tablet {
      display: block;
      margin-top: 9px;
    }
  }

  .example__slider {
    min-height: 462px;
    margin-top: 255px;
    margin-left: 0;

    background-color: #f2f2f2;
  }
}

@media (min-width: @desktop-width) {
  .example {
    margin-top: 82px;
  }

  .example__wrapper {
    display: flex;
    width: 1220px;

    background-color: #f2f2f2;
  }

  .example__half-width {
    width: 50%;
  }

  .example__data-wrapper {
    flex-direction: column;
  }
}
