.example {
  background-color: #f2f2f2;
}

.example__data dt {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.example__data dd {
  font-family: Oswald;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  text-transform: uppercase;
}

.example__cost {
  font-family: Oswald;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}
