.features {
  padding-bottom: 22px;
}

.features__list {
  .no-style();

  padding-left: 80px;
}

.features__item {
  margin-bottom: 20px;
}

.features__description {
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .features__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__item {
    width: 324px;
  }
}

@media (min-width: @desktop-width) {
  .features__item {
    width: 245px;
  }
}
