.fit-programms__list {
  margin-top: 22px;
  .no-style();
}

.fit-programms__item {
  margin-top: 20px;
}

@media (min-width: @desktop-width) {
  .fit-programms__list {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }

  .fit-programms__item {
    width: 570px;
  }
}
