.fit-programm-card {
  position: relative;

  background-color: #f2f2f2;
}

.fit-programm-card__title {
  margin: 0;
  padding-top: 8px;
  padding-left: 71px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #111111;
  text-transform: uppercase;

  &::before {
    content: "";

    position: absolute;
    top: 24px;
    left: 22px;

    width: 50px;
    height: 50px;

    background-color: @green-color;
    border-radius: 50%;
  }

  &--slim::after {
    content: "";

    position: absolute;
    top: 23px;
    left: 30px;

    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &--pro::after {
    content: "";

    position: absolute;
    top: 35px;
    left: 13px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}

.fit-programm-card__description {
  margin: 0;
  margin-top: 29px;

  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
}

.fit-programm-card__catalog-link {
  position: relative;

  display: block;
  margin-top: 42px;

  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";

    position: absolute;
    top: 3px;
    left: 96px;

    width: 25px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::after {
    width: 33px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active,
  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .fit-programm-card__title {
    padding: 0;

    font-size: 36px;
    line-height: 37.02px;

    &::before {
      top: 92px;
      left: 446px;

      width: 200px;
      height: 200px;
    }

    &--slim::after {
      top: 80px;
      left: 476px;

      width: 140px;
      height: 195px;
    }

    &--pro::after {
      top: 135px;
      left: 412px;
      width: 269px;
      height: 112px;
    }
  }

  .fit-programm-card__description {
    width: 380px;
    margin-top: 26px;

    font-size: 16px;
    line-height: 24px;

    & span {
      display: block;
    }
  }

  .fit-programm-card__catalog-link {
    margin-top: 56px;

    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 4px;
      left: 131px;
    }

    &--pro::after {
      left: 125px;
    }
  }
}

@media (min-width: @desktop-width) {
  .fit-programm-card__title {
    padding-left: 160px;

    &::before {
      top: 47px;
      left: 52px;

      width: 100px;
      height: 100px;
    }

    &--slim::after {
      top: 41px;
      left: 66px;

      width: 70px;
      height: 97px;
    }

    &--pro::after {
      top: 69px;
      left: 34px;
      width: 134px;
      height: 56px;
    }
  }

  .fit-programm-card__description {
    width: 462px;
    margin-top: 74px;

    & span {
      display: inline;
    }
  }

  .fit-programm-card__catalog-link {
    margin-top: 31px;

    &--pro::after {
      top: 5px;
    }
  }
}
