.fit-programm-card {
  background-color: #f2f2f2;
}

.fit-programm-card__title {
  margin: 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #111111;
  text-transform: uppercase;
}

.fit-programm-card__description {
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
}

.fit-programm-card__catalog-link {
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
}
