.form {
  padding-bottom: 33px;

  font-weight: 400;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

.form__title {
  padding: 15px 0 24px;

  text-transform: none;
}

.form__text {
  margin: 0;
  padding: 0;
  width: 230px;

  font-size: 14px;
  color: #111111;
}

.form__fieldset:nth-child(2) {
  margin: 0;
  margin-top: 40px;
  padding: 0;

  border: none;
}

.form__fieldset:not(:nth-child(2)) {
  margin: 0;
  margin-top: 42px;
  padding: 0;

  border: none;
  border-top: 3px solid @green-color;
}

.form__input-list {
  .no-style();

  & li {
    margin-top: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & li:first-child {
    margin-top: 0;
  }
}

.form__label {
  padding: 0 16px 3px 0;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: #444444;
  text-transform: uppercase;
}

.form__input {
  flex-grow: 1;
  padding: 11px 19px 14px;

  border: 1px solid #e6e6e6;

  &:hover {
    border-color: #cfcfcf;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }

  &:focus {
    border: 2px solid #444444;
    outline: none;
  }
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  padding: 12px 13px 12px 14px;

  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.form__radio-group{
  .no-style();

  margin-top: 23px;
  padding: 21px 0 22px;

  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.form__radio-group li{
  margin: 0 auto;
  margin-bottom: 13px;
  max-width: 280px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__legend {
  display: table;
  max-width: 230px;
  margin: -17px 76px 34px -20px;
  padding-left: 20px;
  padding-right: 22px;

  font-size: 24px;
  line-height: 24px;
  color: #111111;
  text-transform: none;

  background-color: #ffffff;
}

.form__checkbox-list li {
  display: block;
  margin-top: 14px;
  padding: 0;

  text-align: start;
}

.form__radio,
.form__checkbox {
  display: none;
}

.form__radio + .form__label {
  position: relative;

  padding: 0;

  line-height: 29px;

  &::before {
    content: "";

    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-right: 16px;
    vertical-align: middle;

    box-sizing: border-box;
    border: 1px solid #cecece;
    border-radius: 50%;
  }

  &:hover::before {
    border-color: #bcbcbc;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__radio:checked + .form__label::after {
  content: "";

  position: absolute;
  top: 6px;
  left: 9px;

  width: 12px;
  height: 12px;

  border-radius: 50%;
  background-color: @green-color;
}

.form__checkbox + .form__label {
  padding: 0;

  line-height: 29px;

  &::before {
    content: "";

    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-right: 16px;
    vertical-align: middle;

    box-sizing: border-box;
    border: 1px solid #cecece;
  }

  &:hover::before {
    border-color: #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__checkbox:checked + .form__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 21px 16px;
  background-position: center;
}

.form__submit {
  margin-top: 33px;
}

.form__btn {
  width: 280px;
  padding: 11px 26px;

  font-size: 16px;
}

.form__small-text {
  display: block;
  margin-top: 20px;

  font-family: @arial;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  text-transform: none;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .form {
    padding-bottom: 68px;

    font-size: 20px;
    line-height: 20px;
  }

  .form__wrapper {
    width: 628px;
  }

  .form__title {
    margin-top: 15px;
    margin-left: -40px;

    font-size: 60px;
    line-height: 60px;
  }

  .form__legend {
    max-width: 535px;
    margin: -25px 75px 78px -40px;
    padding-left: 40px;
    padding-right: 41px;

    font-size: 36px;
    line-height: 36px;
  }

  .form__text {
    width: 330px;
    margin-top: 31px;

    font-size: 20px;
    line-height: 30px;
  }

  .form__fieldset:nth-child(2) {
    margin-top: 68px;
    padding-bottom: 14px;
  }

  .form__fieldset:not(:nth-child(2)) {
    margin-top: 83px;
    padding-bottom: 4px;
  }

  .form__input-list li {
    margin-top: 22px;
  }

  .form__radio-group {
    width: 630px;
    margin: 0 auto;
    margin-top: 72px;
    padding: 29px 0 24px;

    border: 1px solid #ededed;
    box-sizing: border-box;

    & li {
      max-width: 560px;
      margin: 0;
      margin-bottom: 18px;
      padding-left: 29px;
    }
  }

  .form__radio + .form__label::before {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }

  .form__radio:checked + .form__label::after {
    top: 7px;
    left: 11px;

    width: 18px;
    height: 18px;
  }

  .form__textarea {
    min-height: 171px;
    padding: 12px 18px;
  }

  .form__checkbox-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -16px;

    & li {
      width: 285px;
      min-height: 72px;
      margin-top: 0;
    }
  }

  .form__checkbox + .form__label::before {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }

  .form__submit {
    display: flex;
    width: 535px;
    margin-top: 17px;
  }

  .form__btn {
    max-width: 284px;
    width: 284px;
    padding: 16px 26px;

    font-size: 20px;
    line-height: 20px;
  }

  .form__small-text {
    margin-top: 17px;
    margin-left: 61px;

    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    padding-bottom: 77px;
  }

  .form__wrapper {
    width: 1220px;
  }

  .form__title {
    margin-top: 27px;
    margin-left: 0;
  }

  .form__flex-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__fieldset:nth-child(2) {
    margin-top: 67px;
    padding-bottom: 8px;
  }

  .form__fieldset:not(:nth-child(2)) {
    margin-top: 85px;
  }

  .form__half-width {
    width: 570px;
  }

  .form__radio-group {
    margin: 0;
    padding-top: 28px;
    padding-bottom: 22px;

    & li {
      padding-left: 27px;
    }
  }

  .form__textarea {
    margin-top: -2px;
  }

  .form__checkbox-list li {
    width: 245px;
  }

  .form__submit {
    width: 100%;
  }

  .form__btn {
    max-width: 570px;
    width: 100%;
    margin-top: 9px;
  }

  .form__small-text {
    margin-top: 24px;
    margin-left: 80px;
  }
}
