.form {
  padding-bottom: 35px;

  font-weight: 400;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

.form__title {
  text-transform: none;
}

.form__text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  color: #111111;
}

.form__fieldset:nth-child(2) {
  border: none;
}

.form__fieldset:not(:nth-child(2)) {
  margin: 0;
  margin-top: 42px;
  padding: 0;

  border: none;
  border-top: 3px solid @green-color;
}

.form__input-list {
  .no-style();

  & li {
    margin-top: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__label {
  padding-right: 14px;
}

.form__input,
.form__textarea {
  color: #444444;
  text-transform: uppercase;
}

.form__input {
  flex-grow: 1;
  padding: 14px 15px 15px;

  border: 1px solid #e6e6e6;
}

.form__textarea {
  width: 100%;
  min-height: 148px;
  box-sizing: border-box;
}

.form__radio-group {
  margin-top: 23px;
}

.form__legend {
  display: table;
  max-width: 230px;
  margin: 0;
  margin-top: -17px;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 22px;

  font-size: 24px;
  line-height: 24px;
  color: #111111;
  text-transform: none;

  background-color: #ffffff;
}

.form__small-text {
  font-family: @arial;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .form {
    font-size: 20px;
    line-height: 20px;
  }

  .form__wrapper {
    width: 628px;
  }

  .form__title {
    margin-left: -40px;

    font-size: 60px;
    line-height: 60px;
  }

  .form__text {
    width: 330px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    width: 1220px;
  }

  .form__title {
    margin-left: 0;
  }
}
