.item-card {
  padding: 24px 0 25px;
}

.item-card__title {
  color: #111111;
  text-transform: uppercase;
}

.item-card__data {
  font-family: @arial;
  font-size: 12px;
  line-height: 16px;
}

.item-card__field {
  font-weight: normal;
}

.item-card__price {
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .item-card {
    padding: 0;
  }
}
