.main-nav {
  min-height: 65px;
  margin: 0 auto;

  &--closed {
    display: none;
  }
}

.main-nav__list {
  .no-style();
}

@media (min-width: @tablet-width) {
  .main-nav {
    min-height: unset;
    margin: 0;
  }

  .main-nav__list {
    min-width: 480px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    min-width: 570px;
    margin-top: -2px;
  }
}
