.page-footer--grey {
  background-color: #f2f2f2;
}

.page-footer__promo {
  font-family: Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.page-footer__address {
  font-style: normal;
  line-height: 20px;
}

.page-footer__bottom {
  background-color: #f2f2f2;
}
