.page-header {
  min-height: 65px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #e6e6e6;
}

.page-header .wrapper {
  padding-top: 11px;
  padding-bottom: 13px;
}

.page-header__logo {
  width: 230px;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-header__menu-toggle {
  position: absolute;
  top: 23px;
  right: 20px;

  display: none;
  width: 24px;
  height: 18px;
  padding: 0;

  cursor: pointer;
  border: none;
  background: url("../img/icon-close.svg") no-repeat 50% 50%;

  &--closed {
    background: url("../img/icon-mobile-menu.svg") no-repeat 50% 50%;
  }

  &--js {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 708px;
    min-height: 58px;
    margin: 0 auto;
    padding: 12px 0;
    flex-direction: row;
    border: none;
  }

  .page-header .wrapper {
    width: auto;
  }

  .page-header__logo-image {
    width: 230px;
    height: 59px;
  }

  .page-header__menu-toggle,
  .page-header__menu-toggle--js {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: relative;

    width: 1220px;
    padding-top: 43px;
    padding-bottom: 17px;
  }

  .page-header__logo-image {
    width: 240px;
    height: 59px;
  }
}
