.page-footer--grey {
  background-color: #f2f2f2;
}

.page-footer__top {
  padding: 27px 0 25px;

  display: flex;
  justify-content: space-between;
}

.page-footer__promo {
  width: 50%;
  display: block;

  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.page-footer__address {
  width: 50%;

  font-family: @arial;
  font-style: normal;
  font-size: 14px;
}

.page-footer__map {
  position: relative;

  height: 363px;
}

.page-footer__google-map {
  position: absolute;
  z-index: 2;

  width: 100%;
  height: 363px;
}

.page-footer__static-map {
  position: absolute;
  top: 0;
  left: 0;

  width: 320px;
  height: 363px;
  margin: 0 auto;

  background-color: #f2f2f2;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 96%;

  @media (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  &::after {
    content: "";

    position: absolute;
    z-index: 1;
    top: 102px;
    left: 113px;

    width: 94px;
    height: 127px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: scale(0.5);
  }
}

.page-footer__bottom {
  background-color: #f2f2f2;
}

.page-footer__logo-link {
  display: block;
  padding: 38px 0 28px;

  text-align: center;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  padding: 22px 0 11px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright {
  padding: 22px 0;
}

@media (min-width: @tablet-width) {
  .page-footer__top {
    width: 625px;
    padding: 65px 41px 58px;
  }

  .page-footer__promo {
    width: 160px;

    font-size: 20px;
    line-height: 25px;
  }

  .page-footer__address {
    width: 160px;

    font-size: 16px;
    text-align: right;

    & span {
      display: block;
      margin-top: 18px;
    }
  }

  .page-footer__map,
  .page-footer__google-map {
    height: 396px;
  }

  .page-footer__static-map {
    width: 768px;
    height: 396px;

    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }

    &::after {
      top: 135px;
      left: 337px;

      width: 94px;
      height: 127px;

      transform: scale(1);
    }
  }

  .page-footer__bottom-wrapper {
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo-link {
    padding: 33px 0 27px;
  }

  .page-footer__logo-image {
    width: 129px;
  }

  .page-footer__social {
    padding-top: 20px;

    border: none;
  }

  .page-footer__copyright {
    width: 162px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    position: relative;

    &--grey {
      background-color: unset;
    }
  }

  .page-footer__top {
    position: static;

    margin-top: 94px;
  }

  .page-footer__top-wrapper {
    width: 570px;
    padding: 65px 89px 57px 77px;

    box-sizing: border-box;
    background-color: #ffffff;
  }

  .page-footer__promo {
    width: 168px;
  }

  .page-footer__address {
    width: 155px;

    text-align: left;
  }

  .page-footer__map,
  .page-footer__google-map {
    height: 399px;
  }

  .page-footer__map {
    position: absolute;
    z-index: -1;
    top: -93px;

    width: 100%;
  }

  .page-footer__static-map {
    z-index: -3;

    width: 1440px;
    height: 399px;

    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-position: -1047px 69%;
    }

    &::after {
      z-index: -2;
      top: 139px;
      left: 1014px;
    }
  }

  .page-footer__bottom {
    margin-top: 104px;
  }

  .page-footer__copyright {
    padding: 25px 0 19px;
  }
}
