.page-footer--grey {
  background-color: #f2f2f2;
}

.page-footer__promo {
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.page-footer__address {
  font-family: @arial;
  font-style: normal;
  font-size: 14px;
}

.page-footer__bottom {
  background-color: #f2f2f2;
}
