.page-header {
  border-bottom: 1px solid #e6e6e6;
}

.page-header__wrapper {
  min-height: 65px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  width: 230px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 708px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: none;
  }

  .page-header__wrapper {
    min-height: unset;

    display: block;
  }

  .page-header__logo {
    width: 196px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: relative;
    width: 1220px;
  }
}
