.promo {
  font-weight: 200;
}

.promo__wrapper {
  min-height: 305px;

  background-color: #64a83b;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 320px;

  @media (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px;
  }
}

.promo__title {
  padding: 27px 0 24px;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

.promo__slogan {
  display: block;

  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.promo__title,
.promo__slogan {
  width: 280px;
  margin: 0 auto;

  overflow: overlay;
}

.promo__image {
  margin-top: -139px;
}

.promo__to-form {
  padding: 11px 26px;

  font-size: 14px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .promo__wrapper {
    width: 708px;
    min-height: 0;
    margin: 0 auto;
    margin-bottom: 14px;

    background: none;
  }

  .promo .wrapper {
    position: relative;

    min-height: 609px;
  }

  .promo__title {
    width: 430px;
    margin: 15px 0 0 72px;
    padding: 15px;

    font-size: 60px;
    line-height: 60px;
    color: #111111;
    text-align: left;
  }

  .promo__slogan {
    width: 400px;
    margin-top: 22px;
    margin-left: 88px;
    padding: 5px 0;

    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
  }

  .promo__image {
    position: absolute;
    top: 0;
    left: 0;

    width: 709px;
    margin-top: 0;
  }

  .promo__to-form {
    position: absolute;
    top: 28px;
    left: 89px;

    width: 198px;
    padding: 16px 25px 16px 22px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    margin-top: 62px;

    & .wrapper {
      min-height: 274px;
    }

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      width: 50%;
      height: 696px;

      background-color: #64a83b;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: cover;
    }

    @media (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) {
      &::before {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .promo__wrapper {
    width: 1220px;
  }

  .promo__title {
    margin-top: -2px;
    margin-left: 65px;
  }

  .promo__slogan {
    width: 390px;
    margin-left: 80px;
  }

  .promo__image {
    top: -280px;
    left: 450px;

    width: 552px;
  }

  .promo__to-form {
    top: 35px;
    left: 80px;

    width: 202px;
    padding: 15px 22px 17px;
  }
}
