.promo {
  font-weight: 200;

  background-color: #64a83b;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

.promo__slogan {
  display: block;

  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.promo__to-form {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .promo {
    background: none;
  }

  .promo__title {
    color: #111111;
  }

  .promo__slogan {
    color: #111111;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    min-height: 597px;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      width: 50%;
      height: 697px;

      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: cover;
    }
  }
}
