.show-all {
  position: relative;

  padding: 26px 0 24px;
}

.show-all__title {
  width: 100%;
  margin-top: 52px;

  text-align: center;

  &::before {
    content: "";

    position: absolute;
    left: 145px;
    top: 40px;

    width: 30px;
    height: 2px;

    background-color: #d3d3d3;
  }

  &::after {
    content: "";

    position: absolute;
    left: 159px;
    top: 26px;

    width: 2px;
    height: 30px;

    background-color: #d3d3d3;
  }
}

.show-all__text {
  margin: 8px 0 21px;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
