.site-list {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.site-list__item {
  text-align: center;

  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  display: inline-block;
  padding: 22px 0 23px;

  color: #111111;
  text-decoration: none;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  &--active {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      right: 0;
      bottom: 14px;
      left: 0;

      height: 2px;
      background-color: @green-color;
    }
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    font-family: inherit;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: unset;
  }

  .site-list__item,
  .site-list__item:last-child {
    margin-left: 36px;

    border: none;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    font-size: 20px;
    font-weight: 400;
  }

  .site-list__item {
    margin-left: 34px;
  }

  .site-list__link {
    padding: 20px 0 23px;
  }

  .site-list-index .site-list__link {
    color: #ffffff;

    &--active {
      &::after {
        background-color: #ffffff;
      }
    }
  }
}
