.slider__control-bar {
  width: 197px;
  margin-left: 47px;
  display: flex;
  justify-content: space-between;
  padding: 29px 0 39px;
}

.slider__control {
  padding: 0;
  color: #111111;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.slider__progress-bar {
  position: relative;

  width: 84px;
  height: 14px;
  margin-top: 4px;

  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.slider__progress {
  position: absolute;
  top: 3px;
  left: 5px;

  width: 35px;
  height: 6px;

  background-color: @green-color;
  border-radius: 3px;
}
