.slider__container {
  position: relative;

  width: 280px;
  height: 240px;
}

.slider__image {
  position: absolute;
  top: 16px;
  left: 20px;
  transform: scale(1.14);

  &--before {
    width: 100%;
  }

  &--after {
    width: 0;
  }
}

.slider__control-bar {
  width: 197px;
  margin-left: 64px;
  display: flex;
  justify-content: space-between;
  padding: 34px 0 39px;
}

.slider__control {
  padding: 0;

  color: #111111;
  text-transform: uppercase;

  cursor: pointer;
  border: none;
  background-color: transparent;
}

.slider__progress-bar {
  position: relative;

  width: 84px;
  height: 14px;
  margin-top: 2px;

  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.slider__progress {
  position: absolute;
  top: 3px;

  width: 35px;
  height: 6px;

  background-color: @green-color;
  border-radius: 3px;

  &--before {
    left: 5px;
  }

  &--after {
    left: 42px;
  }
}

@media (min-width: @tablet-width) {
  .slider__container {
    width: 690px;
    margin: 0 auto;
  }

  .slider__image {
    top: -169px;
    left: 7px;

    transform: scale(1);
  }

  .slider__control-bar {
    width: 570px;
    margin: 94px auto;
  }

  .slider__control {
    padding-bottom: 5px;

    font-size: 20px;
    line-height: 20px;

    border-bottom: 1px dotted #bebebe;
  }
}

@media (min-width: @desktop-width) {
  .slider__container {
    width: 610px;
  }

  .slider__image {
    top: -159px;
    left: 0;

    transform: scale(1.13);
  }

  .slider__control-bar {
    margin-top: 93px;
    margin-right: 0;
    margin-bottom: 0;
  }
}
