.social__list {
  .no-style();
  width: 125px;
  margin: 0 auto;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.social__link {
  font-size: 0;

  &:hover .social__icon {
    fill: #ffffff;
  }
}
