.social__list {
  .no-style();

  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.social__item {
  margin-left: 37px;

  &:first-child {
    margin-left: 58px;
  }

  &:last-child {
    margin-left: 40px;
  }
}

.social__link {
  font-size: 0;

  fill: #666666;

  &:hover {
    fill: @green-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    width: 300px;
  }

  .social__item {
    margin-left: 28px;

    &:first-child {
      margin-left: 96px;
    }

    &:last-child {
      margin-left: 29px;
    }
  }

  .social__icon--vkontakte {
    width: 30px;
    height: 28px;
  }

  .social__icon--instagram {
    width: 23px;
    height: 28px;
  }

  .social__icon--facebook {
    width: 14px;
    height: 28px;
  }
}
