@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "OswaldMedium";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

body {
  min-width: 320px;

  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

.wrapper {
  width: 280px;
  margin: 0 auto;
}
